<section class="portfolio-section" data-mobile="true" data-speed="1">
  <div class="container" id="portfolio">
    <h3 class="title-lg">Portfolio</h3>

    <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-4" data-wow-delay="0.2s">
        
        <div class="portfolio">
          <a href="http://qunfinder.ca">
            <img src="/assets/portfolios/qun_finder.png" alt="qunfinder"/>
            <div class="post_info">
              <div class="title-md">Qun Finder</div>
              <p>Toronto WeChat group listing website.</p>
              <div class="post_meta">
                <time datetime="2017-03-21" class="fa fa-clock-o" i18n="@@">March. 2018</time>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-xs-4" data-wow-delay="0.4s">
        <div class="portfolio">
          <a href="http://visualsx.com">
            <img src="/assets/portfolios/xiangwang.PNG" alt=""/>
            <div class="post_info">
              <div class="title-md" i18n="@@xiangwang">xiangwang</div>
              <p i18n="@@xiangwangdetail">An photo trading platform.</p>
              <div class="post_meta">
                <time datetime="2017-08-21" class="fa fa-clock-o" i18n="@@">Oct. 2017</time>
              </div>
            </div>
          </a>
        </div>
        <div class="portfolio">
          <a href="http://www.powders.ca">
            <img src="/assets/portfolios/western.PNG" alt=""/>
            <div class="post_info">
              <div class="title-md" i18n="@@particleTech">Particle Technology Research Center</div>
              <p i18n="@@particleTechDetail">Particle Technology Research Center belongs to the Department of Chemical and Biochemical Engineering in Western University, Canadian University</p>
              <div class="post_meta">
                <time datetime="2015-08-21" class="fa fa-clock-o" >Nov. 2017</time>
              </div>
            </div>
          </a>
        </div>
        <!-- 
        <div class="portfolio">
          <a href="http://investrefer.com">
            <img src="assets/home/investrefer.PNG" alt=""/>
            <div class="post_info post_info__md">
              <div class="title-md" i18n="@@particleTech">Invest Refer</div>
              <p i18n="@@particleTechDetail">Investment listing website</p>

              <div class="post_meta">
                <time datetime="2018-02-21" class="fa fa-clock-o" >Feb. 2018</time>
              </div>
            </div>
          </a>
        </div>

        <div class="portfolio">
          <a href="http://rdsource.com">
            <img src="assets/home/rdshop.png" alt=""/>
            <div class="post_info post_info__md">
              <div class="title-md" i18n="@@particleTech">Online Store</div>
              <p>Demo Online Store website</p>

              <div class="post_meta">
                <time datetime="2018-01-21" class="fa fa-clock-o" >Jan. 2018</time>
              </div>
            </div>
          </a>
        </div> -->

      </div>

      <div class="col-sm-4 col-md-4 col-xs-4" data-wow-delay="0.6s">
<!-- 
        <div class="portfolio">
          <a href="http://deerplanet.com">
            <img src="assets/home/deerplanet.png" alt="deerplanet"/>
            <div class="post_info">
              <div class="title-md">Deer planet</div>
              <p>O2O Education Website.</p>

              <div class="post_meta">
                <time datetime="2015-08-21" class="fa fa-clock-o">Feb 21. 2018</time>
              </div>
            </div>
          </a>
        </div> -->
        
        
<!--         <div class="portfolio">
          <a href="http://ukcvone.com">
            <img src="assets/home/ukcvone.PNG" alt=""/>
            <div class="post_info post_info__md">
              <div class="title-md" i18n="@@particleTech">UK house rental</div>
              <p i18n="@@particleTechDetail">UK students house rental website</p>

              <div class="post_meta">
                <time datetime="2015-08-21" class="fa fa-clock-o" >Oct. 2017</time>
              </div>
            </div>
          </a>
        </div> -->

        <div class="portfolio">
            <a href="https://jymatchmaker.com">
            <img src="assets/portfolios/JYmatch.PNG" alt=""/>
            <div class="post_info">
              <div class="title-md" >JY Match Dating</div>

              <p>Dating website. </p>

              <div class="post_meta">
                <time datetime="2015-08-21" class="fa fa-clock-o">Aug 21. 2015</time>
              </div>
            </div>
          <!-- <div class="post_overlay">
            <div class="post_overlay_info center">
              <h5>Excepteur sint occaecaton</h5>

              <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. </p>
              <a href="#" class="btn btn-primary btn-sm">More</a>
            </div>
          </div> -->
          </a>
        </div>
      </div>

    </div>
  </div>
</section>