
$border-color:#ccc;
$text-color:#585858;//#212529
$text-inverse-color:#fff;
$primary-color:#003e7e;
$primary-focus-color:#11759a;


.contact-page{
    color: $text-color;
    .right-side{
        padding-top:54px;
    }

    .left-side{
        p{
            font-size:14px;
        }
    }

    @media (max-width: 767px){
        .right-side{
            padding-top:10px;
        }
        .title-lg{
            font-size:28px;
        }
        .contact-section{
            padding-top:10px;
        }
    }
}


