
$border-color:#ccc;
$text-color:#585858;//#212529
$text-inverse-color:#fff;
$primary-color:#003e7e;
$primary-focus-color:#11759a;


.contact-page{
    color: $text-color;

    .container{
        padding-top:50px;
    }
    .row{
        margin-bottom:15px;
    }
    .right-side{

    }

    .left-side{
        p{
            font-size:14px;
        }
    }

    @media (max-width: 767px){
        .right-side{
            padding-top:10px;
        }
        .title-lg{
            font-size:28px;
        }
        .contact-section{
            padding-top:10px;
        }
    }
}


