<div class="page contact-page">
    <div class="container">

      <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12 right-side">
            <app-map [center]=addresses[4].center></app-map>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12 left-side">
          
            <ul>
              <li>
                <img class="new-icon" src="assets/images/new.png"/>
                <span class="title-md">Toronto DownTown:</span>
              </li>
              <li>
                <span class="title-md">Address:</span>
                <span>Unit-S, 280 Spadian Ave (Dragon city main floor), Toronto ON M1P2R3</span>
              </li>
              <li>
                <span class="title-md">Hours:</span>
                <span>10:00AM - 9:00PM Monday ~ Sunday</span>
              </li>
              <li>
                <span class="title-md">Phone Number:</span>
                <span>647-764-9678</span>
              </li>
            </ul>
          </div>
        </div>


      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 right-side">
          <app-map [center]=addresses[0].center></app-map>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12 left-side">
          <ul>
            <li><span class="title-md">Brampton Branch (15 Years):</span></li>
            <li>
              <span class="title-md">Address:</span>
              <span>Unit-106, 53 ParkHurst Square, Brampton, ON L6T5H5</span>
            </li>
            <li>
              <span class="title-md">Hours:</span>
              <span>10:00AM - 9:00PM Monday ~ Sunday</span>
            </li>
            <li>
              <span class="title-md">Phone Number:</span>
              <span>647-764-9678</span>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 right-side">
          <app-map [center]=addresses[1].center></app-map>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12 left-side">
          <ul>
            <li>
              <span class="title-md">Brampton Branch (6 Years):</span>
            </li>
            <li>
              <span class="title-md">Address:</span>
              <span>Unit-140, 73 ParkHurst Square, Brampton, ON L6T5J2</span>
            </li>
            <li>
              <span class="title-md">Hours:</span>
              <span>10:00AM - 9:00PM Monday ~ Sunday</span>
            </li>
            <li>
              <span class="title-md">Phone Number:</span>
              <span>647-764-9678</span>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 right-side">
          <app-map [center]=addresses[2].center></app-map>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12 left-side">
          <ul>
            <li>
              <span class="title-md">Etobicoke Branch (13 Years):</span>
            </li>
            <li>
              <span class="title-md">Address:</span>
              <span>Address: Booth 507, 8 Westmore Drive, Etobicoke, ON M5V3Z7</span>
            </li>
            <li>
              <span class="title-md">Hours:</span>
              <span>10:00AM - 9:00PM Monday ~ Sunday</span>
            </li>
            <li>
             <span class="title-md">Phone Number:</span>
              <span>647-764-9678</span>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 right-side">
          <app-map [center]=addresses[3].center></app-map>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12 left-side">
        
          <ul>
            <li>
              <span class="title-md">Scarborough Branch (2 Years):</span>
            </li>
            <li>
              <span class="title-md">Address:</span>
              <span>Unit-11, 2300 Lawrence East, Toronto ON M1P2R3</span>
            </li>
            <li>
              <span class="title-md">Hours:</span>
              <span>10:00AM - 9:00PM Monday ~ Sunday</span>
            </li>
            <li>
              <span class="title-md">Phone Number:</span>
              <span>647-764-9678</span>
            </li>
          </ul>
        </div>

      </div>
      

      

    </div>
</div>