<div class="page">
  <section class="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 left-side">
          <h3 class="title-lg">{{ 'CONTACT_US' | translate }}</h3>
          <ul>
            <li>
              <span class="fa fa-map-marker"></span>
              <span class="title-md">{{ 'ADDRESS' | translate }}</span>
              <p>352 Front St W, Toronto, ON, Canada.</p>
            </li>
            <li>
              <span class="fa fa-mobile"></span>
              <span class="title-md">{{ 'PHONE_NUM' | translate }}</span>
              <p>+1 416-906-5468</p>
            </li>
            <li>
              <span class="fa fa-envelope"></span>
              <span class="title-md">{{ 'EMAIL' | translate }}</span>
              <p>support@yocompute.com</p>
            </li>
          </ul>
        </div>

        <div class="col-md-9 col-sm-12 col-xs-12 right-side">
          <!-- <app-feedback></app-feedback> -->
        </div>
      </div>
    </div>
  </section>
</div>