<div class="">
  <section class="service-section">
      <div class="container text-center">

        <div class="title-xl">{{'WHY_CHOOSE_US'|translate}}</div>
        <div class="row reason-groups">
          <div class="col-md-4 col-sm-12 col-xs-12 column">
            <div class="title-md">
              <!-- <span class="fa fa-thumbs-up"></span> -->
              {{'REASON_TITLE_1'|translate}}
            </div>
            <p>{{'REASON_1'|translate}}</p>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 column">
            
            <div class="title-md">
              <!-- <span class="fa fa-usd"></span> -->
              {{'REASON_TITLE_2'|translate}}
            </div>
            <p>{{'REASON_2'|translate}}</p>
          </div>

          <div class="col-md-4 col-sm-12 col-xs-12 column">
            <div class="title-md">
              <!-- <span class="fa fa-cog"></span> -->
              {{'REASON_TITLE_3'|translate}}
            </div>
            <p>{{'REASON_3'|translate}}</p>
          </div>
        </div>

        <div class="title-xl">{{'WHAT_WE_DO'|translate}}</div>
        <div class="row how-groups">
<!--           <div class="col-md-5 col-sm-12 col-xs-12 left-side">
            <img src="/assets/home/responsive-design.png" alt="Resposive Design"/>
          </div> -->
          <div class="col-md-12 col-sm-12 col-xs-12 column">
              <p>{{'WHAT_WE_DO_SUBTITILE'|translate}}</p>
              <!-- <div class="btn" (click)="postProject()">Post Project</div> -->
<!--             <div class="row service-groups">
              <div class="col-sm-4 col-md-4 col-xs-4 service-box">
                <h6 class="title-md">
                  <div >{{'MOBILE_DEV'|translate}}</div>
                </h6>
                <p>{{'MOBILE_WEB_DEV'|translate}}</p>
                <p>{{'IOS_DEV'|translate}}</p>
                <p>{{'ANDROID_DEV'|translate}}</p>
                <p>{{'WECHAT_DEV'|translate}}</p>
              </div>
              <div class="col-sm-4 col-md-4 col-xs-4 service-box">
                <h6 class="title-md">
                  <div i18n="@@webDev">{{'WEBSITE_DEV'|translate}}</div>
                </h6>
                <p>{{'WEB_DESIGN'|translate}}</p>
                <p>{{'ECOMMERCE_DEV'|translate}}</p>
                <p>{{'DOMAIN_SETUP'|translate}}</p>
                <p>{{'WEB_HOSTING'|translate}}</p>
                <p>{{'CLOUD_HOSTING'|translate}}</p>
              </div>
              <div class="col-sm-4 col-md-4 col-xs-4 service-box">
                <h6 class="title-md">
                  <div i18n="@@programDev">{{'SW_CONSULTING'|translate}}</div>
                </h6>
                <p>{{'ARCH_DESIGN'|translate}}</p>
                <p>{{'SW_OUTSOURCING'|translate}}</p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
</section>

<!-- <section class="price-section">
  <div class="container text-center">
    <div class="row">
      <div class="price-title">
        <h1 class="title-xl" >{{'PRICE_LIST'|translate}}</h1>
        <div class="title-md">{{'PRICE_SUBTITLE'|translate}}</div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="price-box">
          <div class="title-bg" i18n="@@IntermediateMember">{{'MONTHLY_PLAN'|translate}}</div>
          <div class = "price">
            <span class="price-off" i18n="@@50Off"></span>
            <span class="price-off">$0 {{'DEV_FEE'|translate}}</span>
          </div>
          <div class = "pricing-features">
            <ul>
              <li>{{'FREE_DEV_AD'|translate}}</li>
              <li>$35/{{'MONTH'|translate}} ({{'MIN_CONTRACT'|translate}})</li>
              <li>{{'CANCEL_FREE'|translate}}</li>
            </ul>
          </div>
          <div class="pricing-action">
            <a class="link" routerLink="contact">{{'CONTACT_US' | translate}}</a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="price-box">
          <div class="title-bg" i18n="@@businesShowcase">{{'SHOWCASE_WEB'|translate}}</div>
          <div class="price">
            <span class="price-off">40% Off</span>
            $699
            <div class="after-price"></div>
          </div>
          <div class = "pricing-features">
            <ul>
              <li>{{'GENERAL_TEMPLATE'|translate}}</li>
              <li>{{'STATIC_PAGE_DESIGN'|translate}}</li>
              <li>{{'PAGE_ADJUSTMENT'|translate}}</li>
              <li>{{'GOOGLE_OR_BING_MAP'|translate}}</li>
              <li>{{'FREE_HOSTING_DOMAIN'|translate}}</li>
              <li>{{'FREE_TRAINING'|translate}}</li>
              <li>{{'MOBILE_VERSION'|translate}}</li>
            </ul>
          </div>
          <div class="pricing-action">
            <a class="link" routerLink="contact">{{'CONTACT_US' | translate}}</a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="price-box">
          <div class="title-bg" i18n="@@IntermediateMember">{{'STANDARD_ESHOP'|translate}}</div>
          <div class = "price">
            <span class="price-off" i18n="@@50Off">50% Off</span>
            $1399
          </div>
          <div class = "pricing-features">
            <ul>
              <li>{{'MEMBERSHIP_SYSTEM'|translate}}</li>
              <li>{{'MULTI_LANG'|translate}}</li>
              <li>{{'STATIC_PAGE_DESIGN2'|translate}}</li>
              <li>{{'PAGE_ADJUSTMENT2'|translate}}</li>
              <li>{{'PAYMENT_SYSTEM'|translate}}</li>
              <li>{{'FREE_UPGRADE2'|translate}}</li>
              <li>{{'FREE_HOSTING_DOMAIN'|translate}}</li>
              <li>{{'FREE_TRAINING'|translate}}</li>
              <li>{{'MOBILE_VERSION2'|translate}}</li>
            </ul>
          </div>
          <div class="pricing-action">
            <a class="link" routerLink="contact">{{'CONTACT_US' | translate}}</a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="price-box">
          <div class="title-bg" i18n="@@seniorMember">{{'ADVANCED_ECOMMERCE'|translate}}</div>
          <div class="price">
            <span class="price-off" i18n="@@40Off">40% Off</span>
            $1999
          </div>
          <div class = "pricing-features">
            <ul>
              <li>{{'MEMBERSHIP_SYSTEM'|translate}}</li>
              <li>{{'MULTI_LANG'|translate}}</li>
              <li>{{'STATIC_PAGE_DESIGN3'|translate}}</li>
              <li>{{'PAGE_ADJUSTMENT3'|translate}}</li>
              <li>{{'FREE_SSL_ENCRYPT'|translate}}</li>
              <li>{{'PAYMENT_SYSTEM'|translate}}</li>
              <li>{{'FREE_UPGRADE2'|translate}}</li>
              <li>{{'FREE_HOSTING_DOMAIN'|translate}}</li>
              <li>{{'FREE_TRAINING'|translate}}</li>
              <li>{{'MOBILE_VERSION3'|translate}}</li>
            </ul>
          </div>
          <div class="pricing-action">
            <a class="link" routerLink="contact">{{'CONTACT_US' | translate}}</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section> -->

</div>
