<div class="page products-page">
<!-- <p>
	Our Specials:
</p>

<ul>
	<li>Fruit in the Fruit Shell</li>
	<li>Young Coconut</li>
	<li>Sugar cane juice</li>
</ul> -->
<div class="container">
	<div class="row title-row">
		<h2>Fresh Fruit Shake or Milk Shake</h2>
	</div>
	<div class="row">

		<div class="col-md-4">
		<ul>
			<li>Mango</li>
			<li>Strawberry</li>
			<li>Pineapple</li>
			<li>Papaya</li>
			<li>Peach</li>
			<li>Banana</li>
		</ul>
		</div>
		<div class="col-md-4">
		<ul>
			<li>Blueberry</li>
			<li>Avocado</li>
			<li>SourSop</li>
			<li>Coconut</li>
			<li>Taro</li>
		</ul>
		</div>
		<div class="col-md-4">
			<img src="assets/images/products/pineapple.jpg">
		</div>
	</div>

	<div class="row title-row">
		<h2>Mixed Fruit Shake</h2>
	</div>
	<div class="row">
		<div class="col-md-4">
			<ul>
				<li>Mango and Banana</li>
				<li>Mango and Pineapple</li>
				<li>Mango and Strawberry</li>
				<li>Mango and Peach</li>
				<li>Mango and Papaya</li>
				<li>Mango and Coconut</li>
				<li>Mango and Avocodo</li>
				<li>Mango and Sour Sop</li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul>
				<li>Strawberry and Banana</li>
				<li>Papaya and Pineapple</li>
				<li>Papaya and Peach</li>
				<li>Pineapple and Peach</li>
				<li>Pineapple and Coconut</li>
			</ul>
		</div>
		<div class="col-md-4">
			<img src="assets/images/products/banana.jpg">
		</div>
	</div>

	<div class="row title-row">
		<h2>Fresh squeezed Juice</h2>
	</div>
	<div class="row">
		<div class="col-md-4">
			<ul>
				<li>Orange</li>
				<li>Carrots</li>
				<li>Apples</li>
				<li>Beats Roots</li>
				<li>Celery</li>
				<li>Mixed Vegetable</li>
				<li>All these Fruits Shake could add Tapioca</li>
			</ul>
		</div>

		<div class="col-md-4">
			<img src="assets/images/products/several.jpg">
		</div>
		<div class="col-md-4">
			<img src="assets/images/products/mango.jpg">
		</div>
	</div>
	<div class="row title-row">
		<h2>Dessert</h2>
	</div>
	<div class="row">
		<div class="col-md-4">
			<ul>
				<li>Cheese Cake</li>
				<li>Taro Cake</li>
				<li>Sweet Dessert</li>
			</ul>
		</div>
	</div>
</div>
