$light-gray: #f6f6f6;
$padding_top:30px;

.home-page{
    padding-left:0px;
    padding-right:0px;
    
    .row{
        margin-left:0px;
        margin-right:0px;
    }

    .slide-block{
        padding:0px calc((100% - 1132px) / 2);

        .image-block{
            width:672px;
            float:left;
            img{
                width:100%;
                height:auto;
            }
        }
        .text-block{
            width:460px;
            float:left;
            background-color:#f6f6f6;
            padding:150px 50px 0 90px;
            color:#7e7e7e;
            h2{
                font:400 36px/48px 'Julius Sans One', sans-serif;
                text-transform:uppercase;
                color:rgb(56, 51, 42);
            }
            p{
                word-wrap: break-word;
            }
        }
    }

    .picture-block{
        background-color: rgb(56,51,45);
        padding:0px calc((100% - 1132px) / 2);
        .banner{
            display:block;
            float:left;
            height:404px;
            position:relative;
            overflow:hidden;

            .banner-title{
                height:135px;
                width:100%;
                padding-top:25px;
                span{
                    float:left;
                    font:400 36px/48px 'Julius Sans One', sans-serif;
                    text-transform:uppercase;
                    padding: 18px 35px;
                }
            }
        }

        .banner-1{
            .banner-title{
                background-color:rgb(162,206,37);
                span{
                    color:white;
                }
            }
			.banner-image-1{
				width:600px;// 242px
			}
        }

        .banner-2{
            .banner-title{
                color:rgb(56, 51, 42);
                background-color:white;
                width:288px;
            }
        }

        .banner-3{
            background-color:#e9003c;//yellow;
            float:left;
            width:244px;
            height:378px;
            padding:23px 15px 35px 15px;

            .banner-title{
                color:white;
                font-family: 'Julius Sans One', sans-serif;
                text-transform: uppercase;
                // display: block;
                font-size: 24px;
                line-height: 36px;
                position: relative;
                padding-bottom: 29px;
            }

            .banner-body{
                padding-top: 31px;
                color:white;
                font-family: "Open Sans", sans-serif;
                font-size:14px;
                font-weight:700;
                line-height:24px;
            }
        }
    }

    .row-3{
      height:720px;
      width:100%;
      padding:0px;
      margin:0px;
      background-image: url(assets/images/home/bg-1.jpg);
      background-position: center top;
      padding:0px calc((100% - 1132px) / 2);

      .ad-text{
        text-align: center;
        // padding: 0 95px;

        color: #fff;
        text-transform: uppercase;
        font: 400 36px/48px 'Julius Sans One', sans-serif;

        width: 1100px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 50px 0px 0px 0px;
        margin-bottom:0px;
      }

      .title-col{
        width:350px;
        height:431px;
        float:left;
        background-color:white;

        text-transform: uppercase;
        font-size: 56px;
        line-height: 46px;
        font-family: 'Julius Sans One', sans-serif;
        color: #ffbf1c;
        margin-bottom: 57px;
        padding: 150px 60px;

        span{
            word-wrap: break-word;
            width:50px;
        }
      }

      .picture-col{
          width:746px;
          float:left;
      }

    }
    // .banner-wrapper:before, .banner-wrapper:after{
    //     content:'';
    //     display:inline-block;
    //     position:absolute;
    //     bottom:0;
    //     top:0;
    //     background:#38332d;
    // }
    // .banner-wrapper:before{
    //     left:-9999px;
    //     right:100%;
    // }
    
}



@media screen and (min-width: 1200px){

}

@media screen and (min-width: 768px) and (max-width: 1199px){

}

@media screen and (max-width: 767px){

    .home-page{

        .slide-block{
            padding:0px;

            .image-block{
                width: 100%;
                padding:0px;
            }

            .text-block{
                width: 100%;
                padding:40px 30px;
                h2{
                    font-size: 28px;
                }
            }
        }

        .picture-block{
            padding:0px;
            .banner-1{
                height: auto;
                .banner-image-1{
                    width:100%;
                }
            }

            .banner-2{
                width:100%;
                height:100%;
                img{
                    width:100%;
                }
            }
            .banner-3{
                width:100%;
                padding:40px 30px;
                .banner-body{
                    padding-top:0px;
                }
            }
        }

        .row-3{
            .ad-text{
                font-size: 28px;
            }
            .title-col{
                width:100%;
                padding:40px 30px;
                height: 180px;
                font-size: 42px;
                margin-bottom:0px;            
            }
            .picture-col{
                img{
                    width:100%;
                }
            }
        }
    }

    // .main{
    //     img{
    //         height:300px;
    //     }
        
    //     .caption{
    //         padding-top:80px;
    //         h2{
    //             font-size: 32px;
    //         }

    //         p{
    //             width:80%;
    //             font-size:14px;
    //         }
    //     }
    // }


    // #home-carousel{
    //     height:270px;
    //     .carousel-inner{
    //         .carousel-item{
    //             img{
    //                 height:270px;
    //             }
    //             .caption{
    //                 h2{
    //                     font-size: 28px;
    //                 }

    //                 p{
    //                     width:80%;
    //                     font-size:14px;
    //                 }
    //             }
    //         }
    //     }
    // }

    // .text-center{
    //     text-align: center;
    // }

    // .service-section{
    //     width:100%;
    //     max-height:380px;

    //     .left-side, .right-side{
    //         height:380px;
    //     }

    //     .service-group, .group-layout{
    //         flex-wrap: nowrap;
    //     }
        
    //     .right-side{
    //         display:none;
    //     }

    //     .container{
    //         padding:0px;
    //     }
        
    //     img{
    //         width:90%;
    //     }
    // }

    // .core-section, .vision-section{
    //     display:none;
    // }
}

// @media  (max-width: 767px) and (orientation:portrait){
//     .main{
//         img{
//             height:240px;
//         }
        
//         .caption{
//             padding-top: 0;
//             margin-top: -60px;
//         }
//     }
// }
