<div class="page home-page">
  <div class="row slide-block">
    <div class="col-xs-12 image-block">
      <img src="assets/images/home/slide-2.jpg" />
    </div>
    <div class="col-xs-12 text-block">
      <img src="assets/images/home/icon-drink.png" />
      <h2>HIGHEST QUALITY JUICE</h2>
      <p>Our fruit products are 100% Natural and 100% Fresh. They contain no additives, no preservatives, and no artificial
        sweeteners.
      </p>
    </div>
  </div>

  <div class="row picture-block">
    <div class="col-xs-12 banner banner-1">
      <img class="banner-image-1" src="assets/images/home/banner-1.jpg" />
      <div class="banner-title">
        <span>Fresh Fruit</span>
        <img src="assets/images/home/title-bg-1.png" />
      </div>
    </div>

    <div class="col-xs-12 banner banner-2">
      <img src="assets/images/home/banner-2.jpg" />
      <div class="banner-title">
        <span>Healthy</span>
        <!-- <img src="assets/images/home/title-bg-1.png" /> -->
      </div>
    </div>

    <div class="col-xs-12 banner banner-3">
      <div class="banner-title">100% Raw & Unpasteurized</div>
      <div class="banner-body">Freshly squeezed juice offers a number of health benefits. It brings a huge kick of vitamins, antioxidants and nutrients
        eaily absorbable by your body. It's a greate way to detoxify and clean yourself.</div>
      <span class="banner-btn"></span>
    </div>
  </div>

  <div class="row row-3">
    <div class="col-xs-12 col-md-12 ad-text">A HEALTHY AND HOLISTIC WAY TO LOSE WEIGHT, RESET YOUR BODY</div>
    <div class="col-xs-12 col-md-12">
      <div class="row">
        <div class="col-xs-12 title-col">
          <span>Fresh Juices</span>
        </div>
        <div class="col-xs-12 picture-col">
          <img src="assets/images/home/row3-image.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>