<div class="page home-page">
    <div class="row slide-block">
      <div class="image-block">
        <img src="assets/images/home/slide-2.jpg" />
      </div>
      <div class="text-block">
        <img src="assets/images/home/icon-drink.png" />
        <h2>HIGHEST QUALITY JUICE</h2>
        <p>asfjq;ekqpwiueropqweurpoiuqweopriuqwpoehrl;ejkqwr;qwlkjerl;qjwe;lrjqwehrkjqhwekrhqgwergqwelrkqrw
        </p>
      </div>
    </div>

    <div class="row picture-block">
      <div class="banner-wrapper">
        <div class="banner-group-up">
          <div class="banner banner-1">
            <img src="assets/images/home/banner-1.jpg" />
            <div class="banner-title">
              <span>Fresh Fruit</span>
              <img src="assets/images/home/title-bg-1.png" />
            </div>
          </div>
          <div class="banner banner-2">
            <img src="assets/images/home/banner-2.jpg" />
            <div class="banner-title">
              <span>Healthy</span>
              <img src="assets/images/home/title-bg-1.png" />
            </div>
          </div>
          <div class="banner banner-3">
              <div class="banner-title">100% Raw & Unpasteurized</div>
              <div class="banner-body">jdlksgfpucvb lasdy fioqerl asdfyiyuc vxew dsib wtnvco.</div>
              <span class="banner-btn"></span>
          </div>
        </div><!-- banner-group-up -->
      </div>
    </div>

    <div class="row row-3">
      <div class="ad-text">A HEALTHY AND HOLISTIC WAY TO LOSE WEIGHT, RESET YOUR BODY</div>
      <div class="row">
        <div class="title-col">
          <span>Fresh Juices</span>
        </div>
        <div>
          <img src="assets/images/home/row3-image.jpg" />
        </div>
      </div>
    </div>

  <!-- <section class="text-center">
    <div class="main-ad">
        <img class="d-block img-fluid" src="/assets/home/slide03.jpg">
        <div class="caption">
          <h2>{{ 'MAIN_TITLE' | translate }}</h2>
          <p>{{ 'MAIN_SUBTITLE' | translate}}</p>
        </div>
    </div>
  </section>
 -->
<!-- <app-service class="app-service"></app-service>	 -->

<!--   <section class="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 left-side">
          <h3 class="title-lg">{{ 'CONTACT_US' | translate }}</h3>
          <ul>
            <li>
              <span class="fa fa-map-marker"></span>
              <span class="title-md">{{ 'ADDRESS' | translate }}</span>
              <p>352 Front St W, Toronto, ON, Canada.</p>
            </li>
            <li>
              <span class="fa fa-mobile"></span>
              <span class="title-md">{{ 'PHONE_NUM' | translate }}</span>
              <p>+1 416-906-5468</p>
            </li>
            <li>
              <span class="fa fa-envelope"></span>
              <span class="title-md">{{ 'EMAIL' | translate }}</span>
              <p>support@yocompute.com</p>
            </li>
          </ul>
        </div>

        <div class="col-md-9 col-sm-12 col-xs-12 right-side">
          <app-feedback></app-feedback>
        </div>
      </div>
    </div>
  </section> -->


  
     <section class="well7 bg-lighter bottom-area">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay="0.2s">
            <h5 i18n="@@ourTeam">Our team</h5>
            <ul class="marked-list">
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@ourMission"> Yocompute focus on customer demands, and devote continuously to innovation. We’ve always insisted to provide high quality Web development service for our customers day by day with practical actions to win the trust of customers.  We are based in Toronto, and we establish the Web which is novel, elegant, stable, secure and easy to use for our customers specially. If you give us a cooperate chance, you’ll get  Unlimited business opportunities</a>
              </li>
            </ul>
          </div> -->
          <!-- <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInRight clearboth" data-wow-delay="0.4s">
            <h5 i18n="@@ourService">Our Service</h5>
            <ul class="marked-list">
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@webDev">Web Development</a>
              </li>
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@webConsulting">Web Consulting</a>
              </li>
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@cusProgram">Custom Program development</a>
              </li>
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@searchOptimization">Search Optimization</a>
              </li>
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@webMaintemance">Web Maintenance</a>
              </li>
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@webProm">Web Promotion</a>
              </li>
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@domainHosting">Domain &amp; Hosting &amp; Email</a>
              </li>
            </ul>
          </div>
           <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInRight" data-wow-delay="0.2s">
            <h5 i18n="@@customerService">Customer Service</h5>
            <ul class="marked-list">
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@downloads">Downloads</a>
              </li>
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@faq">FAQ</a>
              </li>
              <li class="fa fa-arrow-circle-o-right">
                <a href='#' i18n="@@techSupport">Technical Support</a>
              </li>
            </ul>
          </div> -->
          <div class="col-md-3 col-sm-3 col-xs-3 wow fadeInRight" data-wow-delay="0.2s">
            
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9 wow fadeInRight" data-wow-delay="0.2s" id="contact_us" >
            
          </div>
        </div>
      </div>
    </section>
</div>
